$color1: #FFE66D;
$color2: #4ECDC4;
$color3: #FF6B6B;
$size: 2rem;
body {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  user-select: none;
  background: #333;
}
h1 {
  color: #fefefe;
  font-size: 1.5rem;
  margin-bottom: 0;
}
h2 {
  color: #fefefe;
  font-size: 0.8rem;
  font-weight: normal;
  font-style: italic;
}
#timer,
#errors {
  display: inline-block;
  color: #fefefe;
  padding: 0.3em 0.5em;
  margin-bottom: 0.5em;
}
#timer {
  border: 1px solid;  
  &.finished {
    color: $color3;
  }
}
#errors {
  font-size: 0.8rem;
  opacity: 0.5;
  &:before {
    content: attr(data-errors);
  }
}
.syllabary {
  table-layout: fixed;
  border: 1em solid #fefefe;
  direction: rtl;
  background: #fefefe;
  width: 80%;
  td {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;    
      text-align: center;
    }
    .hiragana,
    .katakana {
      font-size: $size * 0.7;
      line-height: $size;
      height: $size;
      width: 50%;
      transition: background 0.3s;
      &.over {
        box-shadow: inset 0 0 0 2px #333;
      }
      &.error {
        transition: background 0s;
        background: $color3;
      }
    }
    .romaji {
      line-height: $size;
      width: 100%;
      color: #333333;
      background: #eee;
    }
  }
}
.kanas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  padding: 1em;
  span {
    display: inline-block;
    font-size: $size * 0.7;
    line-height: $size;
    height: $size;
    width: $size;
    text-align: center;
    margin: 0.2em;
    &.dragging {
      opacity: 0.5;
    }
  }
}
.hiragana,
[data-type="hiragana"] {
  background: $color1; 
}
.katakana,
[data-type="katakana"] {
  background: $color2;
}

@media all and (max-width: 800px) {
  .syllabary {
    td {
      .hiragana,
      .katakana {
        width: 100%;
      }   
    }
  }
}
@media all and (max-width: 570px) {
  .syllabary {
    width: 100%;
    border: none;
  }
}